@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* border: 1px solid red; */
  overflow-x: hidden;
}

body div {
  /* border: 1px solid red; */
}


.infobar {
    font-size: 15px;
    background-color: #041735;
    padding-top: 5px;
    padding-bottom: 5px;
  
  }

.button1 {
    background-color: #FF937F; /* For browsers that do not support gradients */
    background-image: linear-gradient(#FF937F, #FFC49B);
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin: 4px 2px;

  }
  
  .button1 {border-radius: 30px;}

  /* .mmalm {
	height: 100%;
} */
  
  .topnav {
    overflow: hidden;
    border-bottom: 1px solid #c8c8ca;
    box-shadow: 1px 3px 5px #f6f6f8;
  }
  
  .topnav .a2 {
    float: left;
    display: inline-block;
    color: #041735;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
  }

  .topnav .a2:hover {
    float: left;
    display: block;
    color: #2845BA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    transition: 1s;
  }


  .topnav .a22 {
    margin-left: 230px;
    float: left;
    display: inline-block;
    color: #041735;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
  }


  .topnav .a22:hover {
    float: left;
    display: block;
    color: #2845BA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    transition: 1s;
  }

  

  @media screen and (min-width: 1024px) {
    .topnav .a22 {
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 1080px) {
    .topnav .a22 {
      margin-left: 130px;
    }
  }

  @media screen and (min-width: 1250px) {
    .topnav .a22 {
      margin-left: 230px;
    }
  }

  @media screen and (min-width: 1440px) {
    .topnav .a22 {
      margin-left: 345px;
    }
  }

  @media screen and (min-width: 1366px) {
    .topnav .a22 {
      margin-left: 120px;
    }
  }

  @media screen and (min-width: 1920px) {
    .topnav .a22 {
      margin-left: 555px;
    }
  }

  @media screen and (min-width: 2560px) {
    .topnav .a22 {
      margin-left: 870px;
    }
  }


  .topnav .a1 {
    float: left;
    display: block;
    color: #2646B8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0px;
  }

  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1024px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 835px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .navbt {
    float: right;
    border: 2px solid #2845ba;
    background-color: #2845ba;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 40px;

  }

  .navbt:hover {
    background-color: white;
    color: #2845ba;
    transition: 1s;
  }

  .navbt1 {
    float: right;
    border: 2px solid #2845ba;
    background-color: #2845ba;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;

  }

  .navbt1:hover {
    color: white;
  }

  @media screen and (max-width:320px) {
    .navbt1 {
      padding-top: 10px;
      padding-bottom: 9px;
      font-size: 10px;
      padding-right: 10px;
      padding-left: 10px;
    }    
  }


  .emal {
    padding-top: 36px;
    padding-bottom: 36px;
    border-color: #2845BA;
  }

  @media screen and (max-width:320px) {
    .emal {
      padding-top: 16px;
      padding-bottom: 16px;
    }  
    .emal::placeholder {
      font-size: 12px;
    }   
  }
  

  #myTopnav {
    background-color: white;
  }


  .topdiv {
    padding-top: 148px;
    padding-right: 90px;
  }

  .topdivv {
    padding-left: 90px;
  }

  @media screen and (max-width:768px) {
    .topdivv {
      padding-left: 60px;

    }
  }
  

  @media screen and (max-width:320px) {
    .topdivv {
      padding-left: 10px;
    }
  }

  .topspan {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E9ECF8;
    border-radius: 5px;
    color: #4e67cc;
    font-size: 14px;
    font-weight: 800;
    margin-left: 90px;
  }

  @media screen and (max-width:768px) {
    .topspan {
      margin-left: 60px;
      font-size: 10px;
    }
  }
  
  @media screen and (max-width:384px) {
    .topspan {
      margin-left: 70px;
      font-size: 10px;
    }
  }

  @media screen and (max-width:320px) {
    .topspan {
      margin-left: 20px;
      font-size: 10px;
    }
  }


  .busisol {
    font-weight: 600;
  }

  .tophead {
    padding-top: 15px;
    color: #041735;
    font-size: 45px;
    font-weight: 700;
  }

  @media screen and (max-width:768px) {
    .tophead {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width:384px) {
    .tophead {
      font-size: 30px;
    }
  }

  @media screen and (max-width:320px) {
    .tophead {
      font-size: 30px;
    }
  }
  

  .tophead1 {
    padding-top: 13px;
    padding-bottom: 34px;
    color: #30425f;
    font-size: 22px;
    font-weight: 500;
  }

  @media screen and (max-width:768px) {
    .tophead1 {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:384px) {
    .tophead1 {
      font-size: 12px;
    }
  }

  @media screen and (max-width:320px) {
    .tophead1 {
      font-size: 15px;
    }
  }


  .input-group {
    color: #2845BA;
  }

  .hro {
    background-image: url(images/hero1.jpg);
    background-position: center;
    height: 400px;
  }
  @media (max-width: 767px) {
    .hro {
      display: none;
    }
  }

  .hero {
    background-image: url(images/hero1.jpg);
    height: 700px;
  }

  @media (max-width: 767px) {
    .hero {
      display: none;
    }
  }

.dotimg {
  margin-top: 57px;
  margin-left: 50px;
}

@media (max-width: 1199px) {
  .dotimg {
    display: none;
  }
}


.mmalm {
	height: 100%;
}

.oll {
  color: #041735;
  font-size: 44px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  
}

@media (max-width: 320px) {
  .oll {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .oll {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .oll {
    margin-top: 50px;
  }
}

.frstspan {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #656565;
}

.fashion {
  margin: 0 auto;
}

.unlicomp {
  background-color: #f0f3ff;
  border-radius: 5px;
  background-size: 200% 200%;
  background-image: 
linear-gradient(to top, #E9FFFD 50%, transparent 50%);
-webkit-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-moz-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-ms-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-o-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}

.unlicomp:hover {
  background-image: 
linear-gradient(to top, #E9FFFD 51%, transparent 50%);
background-position: 0 100%;
-webkit-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-moz-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-ms-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-o-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}

.unlicomp1 {
  background-color: #FFF3F2;
  border-radius: 5px;
  background-size: 200% 200%;
  background-image: 
linear-gradient(to top, #E9FFFD 50%, transparent 50%);
-webkit-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-moz-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-ms-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-o-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}

.unlicomp1:hover {
  background-image: 
linear-gradient(to top, #E9FFFD 51%, transparent 50%);
background-position: 0 100%;
-webkit-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-moz-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-ms-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
-o-transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}

.unlicomp2 {
  background-color: #E9FFFD;
  border-radius: 5px;
}

.unlicomptxt {
  text-align: center;
  color: #041735;
  font-size: 25px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  padding-top: 66px;
}

.divspan {
  font-size: 18px;
  font-weight: 400;
  color: #5c6168;
  padding-bottom: 42px;
}

.serimg {
  margin-top: 24px;
  margin-bottom: 48px;
}

.imgwocal {
  background-image: url(images/about1.jpg);
  border-radius: 5px;
  background-size: contain;
  height: 490px;
  width: 100%;
}

@media screen and (max-width:320px){
  .imgwocal {
    height: 210px;
    width: 100%;
  }
}

@media screen and (max-width:375px){
  .imgwocal {
    height: 210px;
    width: 100%;
    background-size: contain;
  }
}

@media screen and (max-width:425px){
  .imgwocal {
    height: 340px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width:768px){
  .imgwocal {
    height: 340px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width:1024px){
  .imgwocal {
    height: 410px;
    width: 100%;
    background-size: cover;
  }
}

.imgboi {
  background-image: url(images/about2.jpg);
  border-radius: 5px;
  background-size: cover;
  height: 490px;
  width: 100%;
}

@media screen and (max-width:320px){
  .imgboi {
    height: 210px;
    width: 100%;
  }
}

@media screen and (max-width:375px){
  .imgboi {
    height: 210px;
    width: 100%;
    background-size: contain;
  }
}

@media screen and (max-width:425px){
  .imgboi {
    height: 340px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width:768px){
  .imgboi {
    height: 340px;
    width: 100%;
    background-size: cover;
  }
}

@media screen and (max-width:1024px){
  .imgboi {
    height: 410px;
    width: 100%;
    background-size: cover;
  }
}

.fashion1 {
  margin: 0 auto;
  margin-top: 142px;
}

.fashion911 {
  margin: 0 auto;
  margin-top: 70px;
}

.fet {
  font-size: 40px;
  font-weight: 700;
  color: #041735;
  padding-bottom: 22px;
}

.fet2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.fet3 {
  font-size: 17px;
  font-weight: 400;
  color: #5c6168;
  padding-bottom: 5px;
}

/* .fetores {
  margin-bottom: 130px;
} */

.navbt2 {
  border: 2px solid #2845ba;
  background-color: #2845ba;
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;

}

.navbt2:hover {
  background-color: #041735;
  color: #2845ba;
  transition: 1s;
}

.rouu {
  padding-top: 15px;
  margin-top: 30px;
}

.goodcomp {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.goodcomp1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.fsh911 {
  padding-top: 15px;
  margin-top: 100px;
  background-color: #F1F2F6;
}

.cards {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 80px;
}

.fet4 {
  font-size: 20px;
  font-weight: 400;
  color: #5c6168;
  padding-bottom: 5px;
  margin-bottom: 46px;
}

.fet5 {
    font-size: 20px;
    font-weight: 600;
    color: #041735;
    padding-bottom: 5px;
}

.fa-circle {
  font-size: 7px;
  margin-right: 20px;
}


.btn-group .button {
  background-color: #ECF6F9; /* Green */
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  border: none;
  color: #4AA8C6;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btt1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btt2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-group .button:focus {
  background-color: #4AA8C6;
  color: white;
}

.bttnn {
  margin-top: 60px;
}

@media screen and (min-width:320px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 40px;
  }
}

@media screen and (min-width:375px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 65px;
  }
}

@media screen and (min-width:425px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 90px;
  }
}

@media screen and (min-width:768px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 15px;
  }
}

@media screen and (min-width:1024px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 55px;
  }
}

@media screen and (min-width:1440px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 80px;
  }
}

@media screen and (min-width:1990px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 80px;
  }
}

@media screen and (min-width:2560px) {
  .bttnn {
    margin-top: 60px;
    margin-left: 75px;
  }
}

.sspp {
  color: #041735;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}

  
.supp {
  color: #041735;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}

.subb {
  color: #041735;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

#myDIV {
  margin-top: 41px;
}

#myDIV1122 {
  margin-top: 41px;
  display: none;
}

.peruser {
  color: #5c6168;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.navbtp {
  margin-left: 35px;
  border: 2px solid #2845ba;
  background-color: #2845ba;
  color: white;
  padding: 20px 25px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 9px;
  margin-right: 40px;

}

.navbtp:hover {
  background-color: white;
  color: #2845ba;
  transition: 1s;
}

.freetrial {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #5c6168;
  
}

.fet33 {
  font-size: 21px;
  font-weight: 400;
  color: #5c6168;
  padding-bottom: 5px;
}

.fet11 {
  font-size: 40px;
  font-weight: 700;
  color: #041735;
  padding-bottom: 22px;
}

.gal1 {
  background-image: url(images/gallery1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 411px;
  width: 358px;
  
}

.gal2 {
  background-image: url(images/gallery2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 411px;
  width: 358px;
  
}

.gal3 {
  background-image: url(images/gallery3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 411px;
  width: 358px;
  float: right;
  
}


/* * {
  box-sizing: border-box;
} */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}


.fashion3 {
  margin: 0 auto;
  border-bottom: 1px solid #DBDEE9;

}

.fsh {
  background-color: #041735;
  margin-top: 142px;
}

.fsh1 {
  background-color: #041735;
  margin-top: 142px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fetemo {
  padding-top: 94px;
  font-size: 40px;
  font-weight: 400;
  color: white;
  font-family: 'Cabin', sans-serif;
  padding-bottom: 22px;
}

.fet333 {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #dedede;
  padding-bottom: 35px;
}

.navbtl {
  float: right;
  border: 2px solid #2845ba;
  background-color: #2845ba;
  color: white;
  padding: 20px 25px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 94px;

}

.navbtl:hover {
  background-color: white;
  color: #2845ba;
  transition: 1s;
}

.ollogo {
  margin-top: 100px;
  /* padding-bottom: 240px; */
}

.ollogo1 {
  margin-top: 100px;
  /* padding-bottom: 240px; */
  padding-left: 100px;
}

.ollogo2 {
  margin-top: 100px;
  
  padding-left: 90px;
}

.ollogo3 {
  margin-top: 100px;
  padding-left: 100px;
  padding-bottom: 56px;
}

.ologotxt {
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

.foticon {
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.foticon:hover {
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.newsletter {
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.ologotxt1 {
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.ologtxt {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.emal1 {
  padding-top: 36px;
  padding-bottom: 36px;
  border-color: #2845BA;
}

.ollololo {
  margin-top: 20px;
  margin-bottom: 50px;
}

.icnl {
	color: white;
	padding-left: 30px;
	padding-top: 40px;
}

.icnl1 {
	color: white;
	padding-left: 20px;
	padding-top: 40px;
}

.lololib:hover {
  text-decoration: none;
}

.copirt {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-top: 46px;
  padding-bottom: 20px;
}

.drop1 {
  border: 1px solid #DBDEE9;
  border-radius: 5px;
  margin-top: 10px;
}

.cmdrop {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
  color: #041735;
  padding-bottom: 13px;
  padding-top: 18px;
  padding-left: 30px;
}

.cmdrop:hover {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
  color: #2643b3;
  padding-bottom: 13px;
  padding-top: 18px;
  padding-left: 30px;
}

.fa-angle-up {
  float: right;
  padding-right: 30px;
}

.droptext {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #212529;
  padding-left: 20px;
}

.towomen {
  background-image: url(images/towomen.jpg);
  height: 400px;
}

@media (max-width: 767px) {
  .towomen {
    display: none;
  }
}

.topdivll {
  
  background-color: #EFF2FF;
}

.topdivlllo {
  padding-top: 148px;
  padding-right: 90px;
}

.topheadl {
  padding-top: 15px;
  color: #041735;
  font-size: 60px;
  font-weight: 700;
}

.topdivvv {
  float: center;
}

.servicesl {
  background-image: url(images/hero1.jpg);
  background-position: center;
  height: 400px;
}

@media (max-width: 767px) {
  .servicesl {
    display: none;
  }
}

.portfoliol {
  background-image: url(images/hero3.jpg);
  
  height: 400px;
}

@media (max-width: 767px) {
  .portfoliol {
    display: none;
  }
}

.fashion1122 {
  margin: 0 auto;
  margin-top: 142px;
  background-color: #E8EAED;
  padding-top: 180px;
  padding-bottom: 180px;
}

.fa-circle-exclamation {
  margin-bottom: 20px;
}

.oops {
  margin-bottom: 30px;
  color: #585757;
}

.txtrea {
  border: 1px solid #E5E6E9;
}

.txtrea:focus {
  border: 1px solid pink;
}


::placeholder {
  padding-left: 20px;
  padding-top: 5px;
  color: #949599;
}

.nm {
  border: 1px solid #E5E6E9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.em {
  border: 1px solid #E5E6E9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sb {
  border: 1px solid #E5E6E9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fet3391 {
  font-size: 16px;
  font-weight: 500;
  color: #2a2a2a;
  font-family: 'Cabin', sans-serif;
  padding-bottom: 5px;
  
}

.fet33912 {
  font-size: 16px;
  font-weight: 400;
  color: #8a8a8a;
  font-family: 'Cabin', sans-serif;
  padding-bottom: 5px;
  padding-left: 61px;
}

.fetores {
  margin-top: 50px;
}

.navbtsnd {
  float: right;
  border: 1px solid #2845ba;
  background-color: white;
  color: #2845ba;
  padding: 15px 45px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 9px;
  margin-right: 40px;

}

.navbtsnd:hover {
  background-color: #2845ba;
  color: white;
  transition: 1s;
}

/* .imgblog1 {
  .imgwocal {
    background-image: url(images/about1.jpg);
    border-radius: 5px;
    background-size: cover;
    height: 490px;
    width: 100%;
  }
} */

.ss {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
  color: #2d2d2d;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #5c6168;
}

.botoom {
  color: #898d9e;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.botoom:hover {
  color: #2845ba;
}


.icoon {
  color: #898d9e;
}

.icoon:hover {
  color: #2845ba;
}

.topg {
  background-color: #FBF9FF;
  height: 110px;
}

.emal1122 {
  padding-top: 36px;
  padding-bottom: 36px;
  border-color: #F0E9FF;
}

.navbt199 {
  float: right;
  border: 1px solid #2845ba;
  background-color: #2845ba;
  color: white;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;

}

.navbt199:hover {
  color: white;
}

.topg1 {
  background-color: #FBF9FF;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.toptxt {
  font-size: 25px;
  font-weight: 500;
  color: #2D2D2D;
  font-family: 'Cabin', sans-serif;
}

.lowtxt {
  font-size: 16px;
  font-weight: 400;
  color: #5c6168;
  font-family: 'Open Sans', sans-serif;
}

.cocomo {
  font-size: 16px;
  font-weight: 500;
  color: #2d2d2d;
  font-family: 'Cabin', sans-serif;
}

.cocomo:hover {
  color: #5066C7;
}

.cocomo2 {
  font-size: 14px;
  font-weight: 400;
  color: #5c6168;
  font-family: 'Open Sans', sans-serif;
}

.navbtclod {
  float: right;
  border: 1px solid #bbbcc2;
  background-color: white;
  color: #a1a1a1;
  padding: 5px 20px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 9px;
  margin-right: 10px;

}

.navbtclod:hover {
  background-color: #2845ba;
  color: white;
}

#exampleFormControlInput1 {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 0px;
  border: 1px solid #F0E9FF;
}

.navbtpro {
  float: right;
  border: 1px solid #2845BA;
  background-color: white;
  color: #2845BA;
  padding: 15px 124px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 9px;
  margin-right: 10px;

}

.navbtpro:hover {
  background-color: #2845ba;
  color: white;
}

@media screen and (min-width:320px) {
  .navbtpro {
    padding: 15px 62px;
    font-size: 13px;
  }
}

@media screen and (min-width:375px) {
  .navbtpro {
    padding: 15px 90px;
    font-size: 13px;
  }
}

@media screen and (min-width:425px) {
  .navbtpro {
    padding: 15px 115px;
    font-size: 13px;
  }
}

@media screen and (min-width:768px) {
  .navbtpro {
    padding: 15px 50px;
    font-size: 13px;
  }
}

@media screen and (min-width:1024px) {
  .navbtpro {
    padding: 15px 90px;
    font-size: 13px;
  }
}

@media screen and (min-width:1366px) {
  .navbtpro {
    padding: 15px 120px;
    font-size: 13px;
  }
}

@media screen and (min-width:1440px) {
  .navbtpro {
    padding: 15px 120px;
    font-size: 13px;
  }
}


.pagination {
  margin-top: 90px;
  margin-left: 33%;
  display: inline-block;
}

.pagination a {
  border: 1px solid #cecece;
  margin-left:10px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #FBF9FF;
  color: #8a8a8a;
}

.pagination a:hover { color: #2845ba;}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.bldet {
  font-size: 24px;
  font-weight: 600;
  color: #2d2d2d;
  font-family: 'Cabin', sans-serif;
  margin-top: 20px;
}

.para {
  color: #5c6168;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.para1 {
  color: #5c6168;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.botoom1 {
  margin-top: 10px;
  color: #898d9e;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.botoom1:hover {
  color: #2845ba;
}

.prr {
  background-color: #F2F3F7;
}

.prra {
  border-left: 2px solid #888888;
  color: #888888;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.paral {
  color: #5c6168;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px;
  border-bottom: 1px solid #F0E9FF;
}

.if {
  color: #999999;
}

.if:hover {
  color: #2845BA;
}

.it {
  color: #999999;
}

.it:hover {
  color: #2845BA;
}

.idd {
  color: #999999;
}

.idd:hover {
  color: #2845BA;
}

.ibe {
  color: #999999;
}

.ibe:hover {
  color: #2845BA;
}

.hr {
  color: #5C6168;
}

.lilly {
  font-size: 14px;
  font-weight: 400;
  color: #5c6168;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.flf {
  text-align: right;
}

.cocomo3 {
font-size: 16px;
font-weight: 400;
color: #5c6168;
font-family: 'Open Sans', sans-serif;
}

.cocomo4 {
  font-size: 18px;
font-weight: 500;
color: #2d2d2d;
font-family: 'Cabin', sans-serif;
}

.milan {
  color: #041735;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Cabin', sans-serif;
}

.milan:hover {
  color: #304BBD;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Cabin', sans-serif;
}

.hhrr {
  border-bottom: 1px solid plum;
}

.repl1 {
  color: #777777  ;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.repl {
  color: #777777  ;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.repl:hover {
  color: #304bbd;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.coments {
  font-size: 18px;
  font-weight: 500;
  color: #041735;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 40px;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px
}

b,sup,sub,u,del {
  color: #2845BA
}

.typography h1,.typography h2,.typography h3,.typography h4,.typography h5,.typography h6 {
  color: #828bb2
}



.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px
}

.button-group-area .genric-btn:last-child {
  margin-right: 0
}


.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px
}

.button-group-area .genric-btn:last-child {
  margin-right: 0
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s
}

.genric-btn:focus {
  outline: none
}

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px
}

.genric-btn.large {
  line-height: 45px
}

.genric-btn.medium {
  line-height: 30px
}

.genric-btn.small {
  line-height: 25px
}

.genric-btn.radius {
  border-radius: 3px
}

.genric-btn.circle {
  border-radius: 20px
}

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.genric-btn.arrow span {
  margin-left: 10px
}

.genric-btn.default {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent
}

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff
}

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff
}

.genric-btn.default-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent
}

.genric-btn.primary {
  color: #fff;
  background: #2845BA;
  border: 1px solid transparent
}

.genric-btn.primary:hover {
  color: #2845BA;
  border: 1px solid #2845BA;
  background: #fff
}

.genric-btn.primary-border {
  color: #2845BA;
  border: 1px solid #2845BA;
  background: #fff
}

.genric-btn.primary-border:hover {
  color: #fff;
  background: #2845BA;
  border: 1px solid transparent
}

.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent
}

.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff
}

.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff
}

.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent
}

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent
}

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff
}

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff
}

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent
}

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent
}

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff
}

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff
}

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent
}

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent
}

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff
}

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff
}

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent
}

.genric-btn.link {
  color: #415094;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent
}

.genric-btn.link:hover {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff
}

.genric-btn.link-border {
  color: #415094;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline
}

.genric-btn.link-border:hover {
  color: #415094;
  background: #f9f9ff;
  border: 1px solid transparent
}

.genric-btn.disable {
  color: #222,0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed
}

.border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee
}


.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #2845BA
}

blockquote {
  margin-right: 30px
}


.progress-table-wrap {
  overflow-x: scroll
}

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 1150px
}

@media screen and (max-width: 1024px) {
  .progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 940px
  }
}

@media screen and (max-width: 768px) {
  .progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 715px
  }
}

@media screen and (max-width: 425px) {
  .progress-table {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .progress-table {
    display: none;
  }
}

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px
}

.progress-table .country {
  width: 28.07%
}

.progress-table .visit {
  width: 19.74%
}

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px
}

.progress-table .table-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.progress-table .table-head .serial,.progress-table .table-head .country,.progress-table .table-head .visit,.progress-table .table-head .percentage {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500
}

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.progress-table .table-row .serial,.progress-table .table-row .country,.progress-table .table-row .visit,.progress-table .table-row .percentage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center
}

.progress-table .table-row .country img {
  margin-right: 15px
}

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px
}


.typography h1,.typography h2,.typography h3,.typography h4,.typography h5,.typography h6 {
  color: #828bb2
}

.unordered-list li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #2845BA;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%
}


.ordered-list {
  margin-left: 30px
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #2845BA;
  font-weight: 500;
  line-height: 1.82em !important
}

.ordered-list li span {
  font-weight: 300;
  color: #828bb2
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #2845BA;
  font-weight: 500;
  line-height: 1.82em !important
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #828bb2
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #2845BA;
  font-weight: 500;
  line-height: 1.82em !important
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #828bb2
}








.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input:focus {
  outline: none
}

.input-group-icon {
  position: relative
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3
}

.input-group-icon .icon i {
  color: #797979
}

.input-group-icon .single-input {
  padding-left: 45px
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none
}

.single-textarea:focus {
  outline: none
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input-primary:focus {
  outline: none;
  border: 1px solid #2845BA
}

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55
}

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px
}

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359
}



.input-group-icon {
  position: relative
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3
}

.input-group-icon .icon i {
  color: #797979
}

.input-group-icon .single-input {
  padding-left: 45px
}


.form-select {
  height: 40px;
  width: 100%
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%
}

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px
}

.form-select .nice-select .list .option.selected {
  color: #2845BA;
  background: transparent
}

.form-select .nice-select .list .option:hover {
  color: #2845BA;
  background: transparent
}

.form-select .current {
  margin-right: 50px;
  font-weight: 300
}

.form-select .nice-select::after {
  right: 20px
}


.default-select {
  height: 40px
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 20px;
  padding-right: 40px
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px
}

.default-select .nice-select .list .option.selected {
  color: #2845BA;
  background: transparent
}

.default-select .nice-select .list .option:hover {
  color: #2845BA;
  background: transparent
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300
}

.default-select .nice-select::after {
  right: 20px
}


.switch-wrap {
  margin-bottom: 10px
}


.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}

.default-switch input+label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2845BA;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  cursor: pointer
}

.default-switch input:checked+label {
  left: 19px
}

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.primary-switch input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.primary-switch input+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s
}

.primary-switch input+label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  cursor: pointer
}

.primary-switch input:checked+label:after {
  left: 19px
}

.primary-switch input:checked+label:before {
  background: #2845BA
}

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.confirm-switch input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

.confirm-switch input+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer
}

.confirm-switch input+label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  cursor: pointer
}

.confirm-switch input:checked+label:after {
  left: 19px
}

.confirm-switch input:checked+label:before {
  background: #4cd3e3
}

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.primary-checkbox input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
  background: url(images/primary-check.png) no-repeat center center/cover;
  border: none
}

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.confirm-checkbox input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
  background: url(images/success-check.png) no-repeat center center/cover;
  border: none
}

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.disabled-checkbox input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3
}

.disabled-checkbox input:checked+label {
  background: url(images/disabled-check.png) no-repeat center center/cover;
  border: none
}

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.primary-radio input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
  background: url(images/primary-radio.png) no-repeat center center/cover;
  border: none
}

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.confirm-radio input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
  background: url(images/success-radio.png) no-repeat center center/cover;
  border: none
}

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer
}

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.disabled-radio input+label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3
}

.disabled-radio input:checked+label {
  background: url(images/disabled-radio.png) no-repeat center center/cover;
  border: none
}

.default-select {
  height: 40px
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 20px;
  padding-right: 40px
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px
}

.default-select .nice-select .list .option.selected {
  color: #2845BA;
  background: transparent
}

.default-select .nice-select .list .option:hover {
  color: #2845BA;
  background: transparent
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300
}

.default-select .nice-select::after {
  right: 20px
}

.form-select {
  height: 40px;
  width: 100%
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%
}

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px
}

.form-select .nice-select .list .option.selected {
  color: #2845BA;
  background: transparent
}

.form-select .nice-select .list .option:hover {
  color: #2845BA;
  background: transparent
}

.form-select .current {
  margin-right: 50px;
  font-weight: 300
}

.form-select .nice-select::after {
  right: 20px
}

.mt-10 {
  margin-top: 10px
}

.mb-30 {
  margin-bottom: 30px
}

.mt-30 {
  margin-top: 30px
}



.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0e0f0f8e;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.lolopopo:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.lolopopo {
  position: relative;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.imgcarosel {
  width: 200px;
  height: 50px;
  padding-right: 20px;
}

@media screen and (max-width:768px) {
  .imgcarosel {
    width: 100px;
    height: 50px;
    padding-right: 20px;
  }
}


.yango {
  text-align: center;
}

